/* Theme */

.clear {
    clear: both;
}

html {
    overflow-y: scroll;
    height: 100%;
}
body {
    height: 100%;
    font-family: Lato, Helvetica, Arial, sans-serif;
    background-color: #F7F7F7;
}

h1 {
    font-size: 27px;
}

h2 {
    font-size: 20px;
}

.navbar {
  margin-bottom: 10px;
}

.navbar-default {
    border: none;
    background: none;
}

.navbar-text {
    margin-top: 30px;
    margin-left: 0;
    color: #333 !important;
}

.navbar-collapse {
    padding-right: 0;
}

table {
    background: #fff;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.table-bordered {
    border: none;
}

.summary {
    margin-bottom: 10px;
}

@media print {
    * {
        background: none !important;
    }
}
/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* Modal */
.modal-backdrop.in {
    filter: alpha(opacity=20);
    opacity: 0.2;
}

.modal-content {
    border: 0;
    border-radius: 2px;
}

.modal-content p{
    text-align:center;
    font-size:16px;
}

.modal-body {
    padding: 0px;
}

.modal-container {
    padding: 15px;
}

.modal-header h3 {
    margin: 0;
}

/** Forms **/
.form-control {
    border-radius: 0px 2px 2px 0px;
    border: 1px solid rgba(0, 0, 0, 0.27);
    border-left: 3px solid rgba(0,0,0,0.37);
    height: 36px;
}

.form-control:focus, .has-error .form-control:focus {
  border-color: none;
  box-shadow: none;
}

label {
    font-size: 15px
}

.btn-actions {
    margin-top: 26px;
}


/** Campaing **/
.campaign-box{
    border-radius: 3px 3px 0 0;
    background: #fff;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 30px;
}
.campaign-box-container{
    height: 25px;
    margin: 0 15px;
    border-bottom: 1px solid #E8E8E8;
}
/*.campaign-box-container:hover{
    background-color: lightcyan;
}*/
/*.campaign-box:last-child {
    border: 0;
}*/

.campaign-box-label{
    float: left;
}

.campaign-box-label label {
    font-weight: normal;
}
.campaign-box-content{
    float: right;
    position: relative;
}
.campaign-box-content > a{
    position: relative;
    width: 35px;
    color: black;
    text-decoration: none;
    cursor:pointer;
}

.campaign-box-title{
    margin: 0 0 25px 0;
    padding: 15px 15px 0;
    border: 0;
}

.campaign-box-edit {
    display: none;
    background: #fff;
    border: 0;
    margin-right: -7px;
}

.campaign-box:hover .campaign-box-edit {
    display: block;
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 11px;
    color: #C2151C;
}
.campaign-box .campaign-box-edit:hover {
    font-weight:bolder;
    
}

.progress-bar-campaign p {
    width: 100%;
    position: absolute;
}

.text-black-bar{
    color: black;
}

.icon-sucess {
    color: #4cae4c;
}

.icon-error {
    color: #C2151C;
}

.icon-info {
    color: #C08F37;
}

/** Progress bar **/
.campaign-box-progress-bar{
    width: 100%;
    margin: 10px 0 0;
    border-radius: 0;
}

.progress, .progress-bar {
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, .1);
}

.progress-bar-campaign {
    /*background-color: #C4C4C4;*/
}



#newCampaignBox{ 
    padding: 0px;
}

.navbar-btn{
    margin-left: 5px;
    margin-top: 28px;
}

.cursor-pointer{
    cursor:pointer;
    
}

#pjaxStudents {
    max-height: 200px;
    overflow-y: auto;
}

.health-report-table {
    border-top: 1px solid #dddddd;
}

.health-report-table td {
    text-align: center;
}

.health-report-table th {
    text-align: center;
}